.custom-button {
    min-width: 165px;
    width: auto;
    height: 70px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: rgb(78, 230, 7);
    color: rgb(0, 2, 1);
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  